# Dependencies
node_modules/
dist/
build/

# Public
public

# Firebase
.firebase/
.firebaserc
firebase.json

# Environment
.env
.env*
.env.local
.env.production
.env.*.local
.env.development


# Certs
localhost.crt
localhost.key


# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Voter data – NEVER commit real files
*.csv
*.xlsx
data/
voter-files/
